<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengyu.modules.dao.project.returnset.CrowdfundReturnsetPropDao" >
  <resultMap id="BaseResultMap" type="com.fengyu.modules.model.CrowdfundReturnsetProp" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="RETURN_NO" property="returnNo" jdbcType="INTEGER" />
    <result column="RETURN_PROP_TYPE" property="returnPropType" jdbcType="VARCHAR" />
    <result column="RETURN_PROP_TYPE_DETAILS" property="returnPropTypeDetails" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, RETURN_NO, RETURN_PROP_TYPE, RETURN_PROP_TYPE_DETAILS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from crowdfund_returnset_prop
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from crowdfund_returnset_prop
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fengyu.modules.model.CrowdfundReturnsetProp" >
    insert into crowdfund_returnset_prop (ID, RETURN_NO, RETURN_PROP_TYPE, 
      RETURN_PROP_TYPE_DETAILS)
    values (#{id,jdbcType=INTEGER}, #{returnNo,jdbcType=INTEGER}, #{returnPropType,jdbcType=VARCHAR}, 
      #{returnPropTypeDetails,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fengyu.modules.model.CrowdfundReturnsetProp" >
    insert into crowdfund_returnset_prop
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="returnNo != null" >
        RETURN_NO,
      </if>
      <if test="returnPropType != null" >
        RETURN_PROP_TYPE,
      </if>
      <if test="returnPropTypeDetails != null" >
        RETURN_PROP_TYPE_DETAILS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="returnNo != null" >
        #{returnNo,jdbcType=INTEGER},
      </if>
      <if test="returnPropType != null" >
        #{returnPropType,jdbcType=VARCHAR},
      </if>
      <if test="returnPropTypeDetails != null" >
        #{returnPropTypeDetails,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fengyu.modules.model.CrowdfundReturnsetProp" >
    update crowdfund_returnset_prop
    <set >
      <if test="returnNo != null" >
        RETURN_NO = #{returnNo,jdbcType=INTEGER},
      </if>
      <if test="returnPropType != null" >
        RETURN_PROP_TYPE = #{returnPropType,jdbcType=VARCHAR},
      </if>
      <if test="returnPropTypeDetails != null" >
        RETURN_PROP_TYPE_DETAILS = #{returnPropTypeDetails,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fengyu.modules.model.CrowdfundReturnsetProp" >
    update crowdfund_returnset_prop
    set RETURN_NO = #{returnNo,jdbcType=INTEGER},
      RETURN_PROP_TYPE = #{returnPropType,jdbcType=VARCHAR},
      RETURN_PROP_TYPE_DETAILS = #{returnPropTypeDetails,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>