<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengyu.modules.dao.project.msg.OrderDao" >
  <resultMap id="BaseResultMap" type="com.fengyu.modules.model.Order" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ORDER_ID" property="orderId" jdbcType="INTEGER" />
    <result column="ORDER_OWNER" property="orderOwner" jdbcType="INTEGER" />
    <result column="ORDER_AMT" property="orderAmt" jdbcType="DECIMAL" />
    <result column="ORDER_STATE" property="orderState" jdbcType="VARCHAR" />
    <result column="ORDER_TYPE" property="orderType" jdbcType="VARCHAR" />
    <result column="ORDER_OBJECT" property="orderObject" jdbcType="INTEGER" />
    <result column="PAY_CHANNEL" property="payChannel" jdbcType="VARCHAR" />
    <result column="PAY_USER" property="payUser" jdbcType="INTEGER" />
    <result column="SUBMIT_TIME" property="submitTime" jdbcType="TIMESTAMP" />
    <result column="COMPLETE_TIME" property="completeTime" jdbcType="TIMESTAMP" />
    <result column="PAYMENT_TIME" property="paymentTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORDER_ID, ORDER_OWNER, ORDER_AMT, ORDER_STATE, ORDER_TYPE, ORDER_OBJECT, PAY_CHANNEL, 
    PAY_USER, SUBMIT_TIME, COMPLETE_TIME, PAYMENT_TIME
  </sql>

  <select id="queryById" parameterType="com.fengyu.modules.webservice.project.vo.OrderVo" resultType="java.lang.Long">
    SELECT COUNT(*) FROM `order` O,crowdfund_basicinfo CB
    WHERE O.ORDER_OWNER = CB.USER_ID
    AND CB.USER_ID=#{id,jdbcType=INTEGER}
  </select>

  <select id="orderPageList" parameterType="com.fengyu.modules.webservice.project.vo.OrderVo" resultType="com.fengyu.modules.model.Order">
      SELECT
      CB.PROJECT_NAME,CB.PROJECT_IMAGE,CB.PROJECT_SUMMARY,CB.RELEASES_TIME
      FROM `order` O,crowdfund_basicinfo CB
      WHERE O.ORDER_OWNER = CB.USER_ID
    AND CB.USER_ID =#{id,jdbcType=INTEGER}
    limit #{page},#{rows}
  </select>

  <select id="supportNumber" parameterType="com.fengyu.modules.webservice.project.vo.CrowdfundBasicinfoRequestVo" resultType="com.fengyu.modules.webservice.project.vo.HotResponseVo">
    SELECT COUNT(*)
    FROM `order` O,crowdfund_basicinfo CB
    WHERE O.ORDER_OWNER = CB.USER_ID
  </select>
  <select id="getOrderList" parameterType="com.fengyu.modules.webservice.project.vo.OrderRequestVo" resultType="com.fengyu.modules.webservice.project.vo.OrderVo">
    SELECT o.ORDER_OWNER,o.SUBMIT_TIME,o.ORDER_AMT,o.ORDER_STATE,p.USER_ID,p.PROJECT_LIST_IMAGE,p.PROJECT_NAME,o.ID
    FROM `order` o,crowdfund_basicinfo p
    WHERE o.ORDER_OWNER=p.USER_ID AND o.ORDER_OWNER=#{orderOwner,jdbcType=INTEGER}
    limit #{page},#{rows}
  </select>

  <select id="orderPage" parameterType="com.fengyu.modules.webservice.project.vo.OrderRequestVo" resultType="java.lang.Long">
    SELECT COUNT(*)
    FROM `order` o,crowdfund_basicinfo p
    WHERE o.ORDER_OWNER = p.USER_ID and o.ORDER_OWNER=#{orderOwner,jdbcType=INTEGER}
  </select>

  <select id="orderStatePage" parameterType="com.fengyu.modules.webservice.project.vo.OrderRequestVo" resultType="java.lang.Long">
    SELECT COUNT(*)
    FROM `order` o,crowdfund_basicinfo p
    WHERE o.ORDER_OWNER = p.USER_ID and o.ORDER_OWNER=#{orderOwner,jdbcType=INTEGER} AND o.ORDER_STATE=#{orderState,jdbcType=VARCHAR}

  </select>
  <select id="getStateOrderList" parameterType="com.fengyu.modules.webservice.project.vo.OrderRequestVo" resultType="com.fengyu.modules.webservice.project.vo.OrderVo">
    SELECT o.ORDER_OWNER,o.SUBMIT_TIME,o.ORDER_AMT,o.ORDER_STATE,p.USER_ID,p.PROJECT_LIST_IMAGE,p.PROJECT_NAME,o.ID
    FROM `order` o,crowdfund_basicinfo p
    WHERE o.ORDER_OWNER=p.USER_ID AND o.ORDER_OWNER=#{orderOwner,jdbcType=INTEGER} AND o.ORDER_STATE=#{orderState,jdbcType=VARCHAR}
    limit #{page},#{rows}
  </select>
  <insert id="insertSupport" parameterType="com.fengyu.modules.model.Order" >
    insert into `order`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="orderOwner != null" >
        ORDER_OWNER,
      </if>
      <if test="orderAmt != null" >
        ORDER_AMT,
      </if>
      <if test="orderState != null" >
        ORDER_STATE,
      </if>
      <if test="orderType != null" >
        ORDER_TYPE,
      </if>
      <if test="orderObject != null" >
        ORDER_OBJECT,
      </if>
      <if test="payChannel != null" >
        PAY_CHANNEL,
      </if>
      <if test="payUser != null" >
        PAY_USER,
      </if>
      <if test="submitTime != null" >
        SUBMIT_TIME,
      </if>
      <if test="completeTime != null" >
        COMPLETE_TIME,
      </if>
      <if test="paymentTime != null" >
        PAYMENT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderOwner != null" >
        #{orderOwner,jdbcType=INTEGER},
      </if>
      <if test="orderAmt != null" >
        #{orderAmt,jdbcType=DECIMAL},
      </if>
      <if test="orderState != null" >
        #{orderState,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orderObject != null" >
        #{orderObject,jdbcType=INTEGER},
      </if>
      <if test="payChannel != null" >
        #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="payUser != null" >
        #{payUser,jdbcType=INTEGER},
      </if>
      <if test="submitTime != null" >
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completeTime != null" >
        #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="paymentTime != null" >
        #{paymentTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>