<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengyu.modules.dao.project.msg.OrderDao" >
  <resultMap id="BaseResultMap" type="com.fengyu.modules.model.Order" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="ORDER_ID" property="orderId" jdbcType="INTEGER" />
    <result column="ORDER_OWNER" property="orderOwner" jdbcType="INTEGER" />
    <result column="ORDER_AMT" property="orderAmt" jdbcType="DECIMAL" />
    <result column="ORDER_STATE" property="orderState" jdbcType="VARCHAR" />
    <result column="ORDER_TYPE" property="orderType" jdbcType="VARCHAR" />
    <result column="ORDER_OBJECT" property="orderObject" jdbcType="INTEGER" />
    <result column="PAY_CHANNEL" property="payChannel" jdbcType="VARCHAR" />
    <result column="PAY_USER" property="payUser" jdbcType="INTEGER" />
    <result column="SUBMIT_TIME" property="submitTime" jdbcType="TIMESTAMP" />
    <result column="COMPLETE_TIME" property="completeTime" jdbcType="TIMESTAMP" />
    <result column="PAYMENT_TIME" property="paymentTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORDER_ID, ORDER_OWNER, ORDER_AMT, ORDER_STATE, ORDER_TYPE, ORDER_OBJECT, PAY_CHANNEL, 
    PAY_USER, SUBMIT_TIME, COMPLETE_TIME, PAYMENT_TIME
  </sql>

  <select id="queryById" parameterType="com.fengyu.modules.webservice.project.vo.OrderVo" resultType="java.lang.Long">
    SELECT COUNT(*) FROM `order` O,crowdfund_basicinfo CB
    WHERE O.ORDER_OWNER = CB.USER_ID
    AND CB.USER_ID=#{id,jdbcType=INTEGER}
  </select>

  <select id="orderPageList" parameterType="com.fengyu.modules.webservice.project.vo.OrderVo" resultType="com.fengyu.modules.model.Order">
      SELECT
      CB.PROJECT_NAME,CB.PROJECT_IMAGE,CB.PROJECT_SUMMARY,CB.RELEASES_TIME
      FROM `order` O,crowdfund_basicinfo CB
      WHERE O.ORDER_OWNER = CB.USER_ID
    AND CB.USER_ID =#{id,jdbcType=INTEGER}
    limit #{page},#{rows}
  </select>

  <select id="supportNumber" parameterType="com.fengyu.modules.webservice.project.vo.CrowdfundBasicinfoVo" resultType="com.fengyu.modules.webservice.project.vo.HotResponseVo">
    SELECT COUNT(*)
    FROM `order` O,crowdfund_basicinfo CB
    WHERE O.ORDER_OWNER = CB.USER_ID
  </select>

  <select id="getOrderList" parameterType="com.fengyu.modules.webservice.project.vo.OrderVo" resultType="com.fengyu.modules.model.Order">
    SELECT o.ORDER_OWNER,o.SUBMIT_TIME,o.ORDER_AMT,o.ORDER_STATE,p.USER_ID,p.PROJECT_LIST_IMAGE,p.PROJECT_NAME
    FROM `order` o,crowdfund_basicinfo p
    WHERE o.ORDER_OWNER=p.USER_ID AND o.ORDER_OWNER=#{orderOwner,jdbcType=INTEGER}
    limit #{page},#{rows}
  </select>
  <select id="orderPage" parameterType="com.fengyu.modules.model.Order" resultType="java.lang.Long">
    SELECT COUNT(*)
    FROM `order` o,crowdfund_basicinfo p
    WHERE o.ORDER_OWNER = p.USER_ID
  </select>
  <select id="getStateOrderList" parameterType="com.fengyu.modules.webservice.project.vo.OrderVo" resultType="com.fengyu.modules.model.Order">
    SELECT o.ORDER_OWNER,o.SUBMIT_TIME,o.ORDER_AMT,o.ORDER_STATE,p.USER_ID,p.PROJECT_LIST_IMAGE,p.PROJECT_NAME
    FROM `order` o,crowdfund_basicinfo p
    WHERE o.ORDER_OWNER=p.USER_ID AND o.ORDER_OWNER=#{orderOwner,jdbcType=INTEGER} AND o.ORDER_STATE=#{orderType,jdbcType=VARCHAR}
    limit #{page},#{rows}
  </select>
</mapper>