<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengyu.modules.dao.project.publish.CrowdfundOrganizerDao" >
  <resultMap id="BaseResultMap" type="com.fengyu.modules.model.CrowdfundOrganizer" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="ORGANIZER_NO" property="organizerNo" jdbcType="VARCHAR" />
    <result column="ORGANIZER_NAME" property="organizerName" jdbcType="VARCHAR" />
    <result column="ORGANIZER_INTRODUCTION" property="organizerIntroduction" jdbcType="VARCHAR" />
    <result column="WEIBO_URL" property="weiboUrl" jdbcType="VARCHAR" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="THANK_YOU_NOTE" property="thankYouNote" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, ORGANIZER_NO, ORGANIZER_NAME, ORGANIZER_INTRODUCTION, WEIBO_URL, TELEPHONE, 
    THANK_YOU_NOTE
  </sql>

  <select id="getDetailByOrganizerNo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from crowdfund_organizer
    where ORGANIZER_NO = #{organizerNo,jdbcType=VARCHAR}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from crowdfund_organizer
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <insert id="insert" parameterType="com.fengyu.modules.model.CrowdfundOrganizer" >
    insert into crowdfund_organizer (ID, USER_ID, ORGANIZER_NO, 
      ORGANIZER_NAME, ORGANIZER_INTRODUCTION, WEIBO_URL, 
      TELEPHONE, THANK_YOU_NOTE)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{organizerNo,jdbcType=INTEGER}, 
      #{organizerName,jdbcType=VARCHAR}, #{organizerIntroduction,jdbcType=VARCHAR}, #{weiboUrl,jdbcType=VARCHAR}, 
      #{telephone,jdbcType=VARCHAR}, #{thankYouNote,jdbcType=VARCHAR})
  </insert>
</mapper>