<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengyu.modules.dao.user.PostAddressDao" >
  <resultMap id="BaseResultMap" type="com.fengyu.modules.model.PostAddress" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="POST_CODE" property="postCode" jdbcType="INTEGER" />
    <result column="POST_USER" property="postUser" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="INTEGER" />
    <result column="PROVINCE_ID" property="provinceId" jdbcType="INTEGER" />
    <result column="CITY_ID" property="cityId" jdbcType="INTEGER" />
    <result column="COUNTY_ID" property="countyId" jdbcType="INTEGER" />
    <result column="ADDRESS_DETAIL" property="addressDetail" jdbcType="VARCHAR" />
    <result column="IS_DEFAULT" property="isDefault" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_ID, POST_CODE, POST_USER, MOBILE, PROVINCE_ID, CITY_ID, COUNTY_ID, ADDRESS_DETAIL, 
    IS_DEFAULT
  </sql>
  <select id="getPostAddress" resultType="com.fengyu.modules.model.PostAddress" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from post_address
    where USER_ID = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from post_address
    where USER_ID = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.fengyu.modules.model.PostAddress" >
    insert into post_address ( USER_ID, POST_CODE,
      POST_USER, MOBILE, PROVINCE_ID, 
      CITY_ID, COUNTY_ID, ADDRESS_DETAIL, 
      IS_DEFAULT)
    values ( #{userId,jdbcType=INTEGER}, #{postCode,jdbcType=INTEGER},
      #{postUser,jdbcType=VARCHAR}, #{mobile,jdbcType=INTEGER}, #{provinceId,jdbcType=INTEGER}, 
      #{cityId,jdbcType=INTEGER}, #{countyId,jdbcType=INTEGER}, #{addressDetail,jdbcType=VARCHAR}, 
      #{isDefault,jdbcType=BIT})
  </insert>
  <update id="updatePostAddress" parameterType="com.fengyu.modules.model.PostAddress" >
    update post_address
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="postCode != null" >
        POST_CODE = #{postCode,jdbcType=INTEGER},
      </if>
      <if test="postUser != null" >
        POST_USER = #{postUser,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        PROVINCE_ID = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null" >
        CITY_ID = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="countyId != null" >
        COUNTY_ID = #{countyId,jdbcType=INTEGER},
      </if>
      <if test="addressDetail != null" >
        ADDRESS_DETAIL = #{addressDetail,jdbcType=VARCHAR},
      </if>
      <if test="isDefault != null" >
        IS_DEFAULT = #{isDefault,jdbcType=BIT},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=INTEGER}
  </update>
  <select id="postAddressPage" resultType="java.lang.Long" parameterType="com.fengyu.system.entity.LogAccess">
    SELECT COUNT(*) FROM post_address
  </select>

  <select id="getListPostAddress" resultMap="BaseResultMap" parameterType="com.fengyu.system.entity.LogAccess">
    SELECT
    <include refid="Base_Column_List" />
    FROM post_address
    limit #{startPage},#{rows}
  </select>

</mapper>