<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fengyu.modules.dao.user.UserDao" >
  <resultMap id="BaseResultMap" type="com.fengyu.modules.model.User" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME_LOGIN" property="nameLogin" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="PWD_LOGIN" property="pwdLogin" jdbcType="VARCHAR" />
    <result column="USER_TYPE" property="userType" jdbcType="INTEGER" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="TIME_CREATE" property="timeCreate" jdbcType="TIMESTAMP" />
    <result column="TIME_LAST_LOGIN" property="timeLastLogin" jdbcType="TIMESTAMP" />
    <result column="TIME_LAST_LOGOUT" property="timeLastLogout" jdbcType="TIMESTAMP" />
    <result column="PWD_REST" property="pwdRest" jdbcType="BIT" />
    <result column="IS_AUTH" property="isAuth" jdbcType="BIT" />
    <result column="IS_LOCKED" property="isLocked" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME_LOGIN, EMAIL, PWD_LOGIN, USER_TYPE, PHONE, TIME_CREATE, TIME_LAST_LOGIN,
    TIME_LAST_LOGOUT, PWD_REST, IS_AUTH, IS_LOCKED
  </sql>
  <sql id="base_where">
    <where>
      1=1
      <if test="id != null and id != ''" >
        and id = #{id,jdbcType=INTEGER}
      </if>
      <if test="nameLogin != null and nameLogin != ''" >
        and NAME_LOGIN = #{nameLogin,jdbcType=VARCHAR}
      </if>
      <if test="email != null and email != ''" >
        and EMAIL=#{email,jdbcType=VARCHAR}
      </if>
    </where>
  </sql>

  <select id="getPhone" resultType="java.lang.String" parameterType="java.lang.Integer" >
    SELECT PHONE
     FROM user
     WHERE ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="getEmail" resultType="java.lang.String" parameterType="java.lang.Integer">
    SELECT  EMAIL
    FROM USER
    WHERE ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="getContact" resultType="com.fengyu.modules.model.User" parameterType="java.lang.Integer">
    select PHONE,EMAIL
    FROM USER
    WHERE ID = #{id,jdbcType=INTEGER}
  </select>
  <update id="updatePhone" parameterType="com.fengyu.modules.model.User">
    UPDATE USER SET PHONE=#{phone,jdbcType=VARCHAR}
    WHERE ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateEmail" parameterType="com.fengyu.modules.model.User">
    UPDATE USER SET EMAIL=#{email,jdbcType=VARCHAR}
    WHERE ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateLoginPwd" parameterType="com.fengyu.modules.model.User">
    UPDATE USER SET PWD_LOGIN=#{pwdLogin,jdbcType=VARCHAR}
    WHERE ID = #{id,jdbcType=INTEGER}
  </update>

  <insert id="insertPhone" parameterType="com.fengyu.modules.model.User">
    INSERT into `user`(PHONE,PWD_LOGIN,TIME_CREATE)
    VALUES(#{phone,jdbcType=VARCHAR},#{pwdLogin,jdbcType=VARCHAR},#{timeCreate,jdbcType=TIMESTAMP})
  </insert>

</mapper>